:root {
    --pri-color-1: #0e0e0e;
    --pri-color-2: #050505;

    --sec-color-1: #f1f1f1;
    --sec-color-2: #f5f5f5;

    --accent-color-1: #3592cc;
    --accent-color-2: #418e37;

    --font-poppins: "Poppins", sans-serif;
    --font-inter: "Inter", sans-serif;
    --font-jersey: "Jersey 10", sans-serif;

    font-family: var(--font-jersey);
}

html {
    background-image: url("/assets/concrete.png");
    height: 100dvh;
    background-size: 10%;
    background-repeat: repeat;
    image-rendering: crisp-edges;

    scrollbar-width: none;

    scroll-behavior: smooth;

}

hr {
    border-width: 1px;
    border-color: var(--sec-color-1);
    width: 100%;
}

header {
    height: 32px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--sec-color-1);

    /*background-color: var(--pri-color-1);*/

    /*border: 1px solid var(--sec-color-1);*/
    border-radius: 1rem;
    padding: 8px;
    margin-inline: 16px;

    filter: drop-shadow(0px 1px .1rem var(--pri-color-1));

    & span {
        font-family: var(--font-poppins);
    }
}

a {
    color: var(--sec-color-1);
    text-decoration: none;
}

body {
    padding-block: 0px;
    margin: 0;
}

/* --- CLASS --- */

.pageBreaker{
    width: 100%;
    height: 160px;

    /*background-image: linear-gradient(to bottom ,transparent, red, transparent );*/
}

.noButtonStyle {
    border: none;
    background: none;
}

.hrefLink {
    color: var(--accent-color-1);
}

.justify-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.justify-col {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}

.linkButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;

    min-height: 24px;

    background-color: var(--accent-color-1);
    padding: 8px;
    border: 0px solid transparent;
    border-radius: 8px;

    font-size: 1.25rem;

    @media screen and (min-width: 768px) {
        transition: translate 0.25s;

        &:hover {
            translate: 0 -8px;
        }
    }

    & svg {
        width: 16px;
        height: 16px;
    }
}

.pri-c-1 {
    color: var(--pri-color-1);
}
.pri-c-2 {
    color: var(--pri-color-2);
}
.sec-c-1 {
    color: var(--sec-color-1);
}
.sec-c-2 {
    color: var(--sec-color-2);
}
.acc-c-1 {
    color: var(--accent-color-1);
}
.acc-c-2 {
    color: var(--accent-color-2);
}

/* --- ID --- */

#wabbanode {
    & svg {
        transform: rotate(-135deg);
        z-index: 0;
    }
}

#navDisabled {
    display: none;
}

#stickyNavWrapper {
    top: 16px;
    position: fixed;
    width: 100vw;
    transition: top 1s;
    z-index: 5;

    @media screen and (min-width: 768px) {
        & header {
            & #tablet_nav {
                display: flex;

                & ul {
                    display: flex;
                    align-items: center;
                    gap: 16px;

                    list-style: none;
                    padding: 0;

                    & li span{
                        font-size: .75rem;
                    }
                }

                & ul li:nth-last-of-type(1){
                    --softDark: rgba(0, 0, 0,.5);

                    & a{
                        background-color: var(--sec-color-1);
                        padding: 8px;
                        color: var(--pri-color-1);
                        border-radius: 8px;
                        border: 1px solid var(--softDark);

                        background-position: 0px 0px;
                        background-repeat: repeat;
                        & svg{
                            fill: var(--pri-color-1);
                            & path{
                                fill: var(--pri-color-1);
                            }
                        }
                    }
                }

                & ul li a {
                    gap: 4px;
                    display: flex;

                    transition: translate .25s;
                    &:hover{
                        translate: 0 -4px;

                        & svg{
                            fill: var(--accent-color-1);
                        }

                        & svg path{
                            fill: var(--accent-color-1);
                        }
                    }
                }

                & ul li a svg {
                    width: 16px;
                    height: 16px;

                    margin-block: auto;
                    transition: fill .25s ease-in-out;
                }

                & ul li a svg path {

                    transition: fill .25s ease-in-out;
                    fill: var(--sec-color-1);
                }
            }
        }

        #navButton {
            display: none;
        }

        #phone_nav {
            display: none;
        }
    }

    & #tablet_nav {
        display: none;
    }

    & #modpackLogo {
        --logo_size: 32px;
        margin-block: auto;
        height: var(--logo_size);

        & svg {
            height: var(--logo_size);
            width: var(--logo_size);
        }

        & svg > path {
            fill: var(--sec-color-1);
            transition: fill .25s ease-in-out;
        }
    }

    & #nav-title {
        font-family: var(--font-poppins);
        font-size: .75rem;
        & a{
            transition: color .25s ease-in-out;
        }

    }

    & #modpackLogo:hover, & #nav-title:hover{
        & svg path{
            fill: var(--accent-color-1);
        }

        & a{
            color: var(--accent-color-1);
        }

    }

    & #navButton {
        height: 40px;
        aspect-ratio: 1/1;
        background-color: transparent;

        border: none;
        border-radius: 8px;

        padding: 0;

        & span {
            font-size: 0.75rem;
            color: var(--sec-color-1);

            &:hover {
                text-decoration: underline var(--accent-color-1) 2px;
            }
        }
    }

    & #phone_nav {
        --content: var(--sec-color-1);

        display: block;
        position: absolute;
        right: 16px;
        top: 64px;
        margin-block: auto;
        width: calc(100% - 32px);
        max-width: 360px;
        height: fit-content;

        background: var(--pri-color-2);
        border-radius: 1rem;



        & ul {
            padding: 8px;
            margin: 0;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            gap: 8px;
            list-style: none;
            font-family: var(--font-poppins);



            & li {
                background-color: var(--pri-color-1);
                border-radius: calc(1rem - 8px);

                &:hover {
                    background-color: var(--accent-color-1);
                    border: 0px solid transparent;
                    border-radius: 1rem;
                }
                & a {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;

                    padding: 32px;

                    & span {
                        font-size: 0.75rem;
                        color: var(--content);
                        font-weight: bold;
                    }

                    & svg {
                        width: 24px;
                        height: 24px;
                    }
                    & svg > path {
                        fill: var(--content);
                    }
                }
            }
        }

        @media screen and (min-width: 540px){

            width: fit-content;
            max-width: 720px;

            & ul{
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;

                & li a{

                    padding: 64px;
                }
            }

        }

    }
}

@keyframes bgPos {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

#heroWrapper {
    background: url("/assets/sfbg.png");
    background-size: cover;
    background-repeat: repeat-x;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: bgPos 60s infinite linear;
    font-size: 2rem;

    & #hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        padding-inline: 32px;
        padding-block: 128px;

        & #versionDetail{
            width: 100%;
            max-width: 768px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            & span{
                font-family: var(--font-poppins);
                font-size: .75rem;
                color: var(--sec-color-1);
            }

        }


        & #heroTitle {
            width: 100%;
            max-width: 540px;
            color: var(--accent-color-1);
            margin: 0;
        }

        & #heroDesc {
            color: var(--sec-color-1);
            text-align: center;
        }

        & #heroLinkWrapper {
            font-size: 1rem;
        }

        @media screen and (min-width: 540px) {
        }

        @media screen and (min-width: 768px) {
            height: 768px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 3rem;
            padding-block: 64px;


            /*& #heroTitle {
                font-size: 10rem;
                color: transparent;
                background: linear-gradient(
                    to bottom,
                    var(--accent-color-1),
                    var(--accent-color-2)
                );
                background-clip: text;
                background-size: contain;
            }*/

            & #heroDesc {
                font-size: inherit;
                font-weight: 1000;
                margin: 0;
                max-width: 768px;
                text-align: center;
            }
        }
    }

    @media screen and (min-width: 768px){
        background-size: cover;

    }

}

#modShowcase {
    padding: 16px;

    & h2 {
        color: var(--sec-color-1);
        text-align: center;
        font-weight: normal;
        font-size: 2rem;

        & strong {
            font-size: 3rem;
            color: transparent;
            -webkit-text-stroke: 1px var(--sec-color-1);
        }
    }

    @media screen and (min-width: 768px) {
        & h2 {
            font-size: 3rem;

            & strong {
                font-size: 5rem;
            }
        }
    }
}

#about {
    & section {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: start;
        height: fit-content;
        min-height: 540px;
        padding: 16px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: scroll;
        border-radius: 16px;
        color: var(--sec-color-1);

        animation: bgPos 30s infinite linear;

        counter-increment: listOfSections 1;

        & h3::before{
            content: counter(listOfSections, decimal) ". ";
            display: block;
            font-family: var(--font-jersey);
            letter-spacing: 4px;
        }

        & h3, & .hrefLink{
            filter: drop-shadow(0px 2px 0.25rem rgba(8,8,8,50%));
        }

        & .hrefLink {
            color: var(--accent-color-1);
            display: block;
        }

        & h3 {
            font-family: var(--font-poppins);
            font-size: 1.5rem;
        }

        @media screen and (min-width: 540px) {
            padding: 16px;
            min-height: 768px;
            border-radius: 16px;

            & h3, & .hrefLink{
                font-size: 2rem;
                filter: drop-shadow(0px 4px 0.4rem  rgba(8,8,8,50%));
            }
        }

        @media screen and (min-width: 768px) {
            padding: 32px;
            height: 1080px;
            border-radius: 32px;

            & h3, & .hrefLink{
                font-size: 3rem;
                filter: drop-shadow(0px 4px 0.4rem  rgba(8,8,8,50%));
            }
        }
    }

    & section:nth-last-of-type(even) {
        align-items: end;

        & h3 {
            text-align: end;
        }
    }

    & section:nth-of-type(1) {
        background-image: url("/assets/create.webp");
    }
    & section:nth-of-type(2) {
        background-image: url("/assets/moogs.webp");
    }
    & section:nth-of-type(3) {
        background-image: url("/assets/hamster.webp");
    }
    & section:nth-of-type(4) {
        background-image: url("/assets/sophis.webp");
    }
    & section:nth-of-type(5) {
        background-image: url("/assets/carryon.webp");
    }
}

#cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 16px;
    background-color: var(--pri-color-1);
    height: 100vh;
    min-height: fit-content;
    position: relative;

    /*&::before{
        background-color: var(--pri-color-1);
        background-image: none;
        content: "";
        position: absolute;
        width: 100%;
        height: 60px;

        top: -30px;
        border-radius: 50% 50% 0 0;

        @media screen and (min-width:960px){
            height: 120px;
            top: -60px;
        }
    }*/

    &::after{
        background-color: var(--pri-color-1);
        background-image: none;
        content: "";
        position: absolute;
        width: 100%;
        height: 60px;

        bottom: -60px;
        border-radius: 0 0 50% 50%;

        @media screen and (min-width:960px){
            height: 120px;
            bottom: -120px;
        }
    }

    & h2 {
        font-size: 3rem;
        margin-block: 32px;

        color: var(--sec-color-1);

        text-align: center;
    }

    & #discordEmbed {
        width: 100%;
        margin-inline: auto;
    }

    & .linkButtons {
        color: var(--pri-color-1);
        width: fit-content;
        padding: 8px 16px 8px 16px;

        margin-inline: auto;
    }

    & img{
        width: 100%;
        max-width: 540px;
    }

    @media screen and (min-width: 540px){
        padding-block: 64px;
    }

    @media screen and (min-width: 768px) {
        flex-direction: row;

        & h2 {
            font-size: 4rem;
        }

        & #discordEmbed {
            width: 50%;
        }

        & .linkButtons {
            font-size: 2rem;
            padding-inline: 32px;
        }
    }
}

#discordSection{
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
    height: fit-content;
    min-height: 100vh;
    padding-block: 120px;

    & h3{
        color: var(--sec-color-1);
        font-size: 3rem;
        text-align: center;
    }

    & a.link{
        color: var(--accent-color-1);
        font-size: 3rem;
        padding: 0;

        &:hover{
            &::before{
                width: 2rem;
                height: 2rem;
                background-size: 2rem;
            }
        }

    }

    @media screen and (min-width: 768px) {
        height: 1080px;
    }




}

#footerWrapper {
    margin-inline: auto;
    margin-block: 0px;
    background-color: var(--accent-color-1);
    background-image: linear-gradient(to bottom, var(--accent-color-1) 25%, rgba(255,255,255, 10%));
    position: relative;

    &::before{
        content: "";
        position: absolute;
        top: -60px;
        border-radius: 50% 50% 0 0;
        width: 100%;
        height: 60px;
        background-color: var(--accent-color-1);
    }

    & footer{
        padding: 16px;
        gap: 64px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: calc(100%-32px);
    }

    & .flex{
        display: flex;
        flex-direction: column;
        gap: 32px;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    & img {
        height: 32px;
        width: 32px;
    }

    & .link {
        color: var(--pri-color-1);
    }

    & #footerLinks {
        color: var(--pri-color-1);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        justify-content: space-evenly;
        width: fit-content;
        position: relative;

        & div {
            display: flex;
            flex-direction: column;
            align-items: center;

            transition: left .25s ease-in-out, right .25s ease-in-out;
        }

        & div:nth-child(1){
            position: relative;
        }
        & div:nth-last-child(1){
            position: relative;
        }

        @media screen and (min-width: 420px){
            & div:nth-child(1){
                position: relative;
                left: -133%;
            }
            & div:nth-last-child(1){
                position: relative;
                right: -133%;
            }
        }

    }

    & .footerLinkHeader {
        color: var(--sec-color-1);
        display: block;
        text-align: center;

        font-family: var(--font-poppins);
        font-size: 1rem;
        font-weight: bold;

        margin-block: 0.25rem;
    }

    & #disclaimer {
        max-width: 360px;
        text-align: start;
        width: 100%;

        & i {
            font-size: .65rem;
            font-family: var(--font-poppins);
            font-weight: normal;
            color: var(--pri-color-1-color-1);
        }

    }

    @media screen and (min-width: 540px){
        #footerLinks{
            flex-direction: row;
            gap: 64px;

            position: relative;

            & div:nth-child(1){
                position: relative;
                left: 0;
            }
            & div:nth-last-child(1){
                position: relative;
                right: 0;
            }
        }

        & #disclaimer{
            max-width: 360px;
            & i {
                font-size: .65rem;
            }
        }
    }


    @media screen and (min-width: 768px) {

        &::before{
            height: 120px;
            top: -120px;
        }

        & .footerLinkHeader {
            font-size: 1rem;
        }

        & footer {
            max-width: 768px;
            margin-inline: auto;
            flex-direction: column;

            & .flex{
                flex-direction: row;
            }
        }

        & #footerLinks {
            flex-direction: row;
            justify-content: end;
            gap: 8px;
            align-items: start;

            position: relative;

            & div {
                width: 160px;
            }

        }

        & #disclaimer{
            max-width: 540px;
            & i {
                font-size: .65rem;
            }
        }
    }
}

/* wrappers */

#wrapper_downloads {
    height: 1080px;
}

/* Media Queries */

@media screen and (min-width: 540px) {
    html{
        background-size:  5%;
    }
}

/* tablet screen */
@media screen and (min-width: 768px) {
    header {
        max-width: 768px;
        margin-inline: auto;

        margin-block: 0px;
    }

    #heroLinkWrapper {
        margin-block: 32px;
    }

    & .pageBreaker{
        /*height: 200px;*/
    }

    & .link {
        font-size: 1.25rem;

        padding-inline: 8px;

        &::before {
            display: inline-block;

            height: 0rem;
            width: 0rem;
            content: "";

            background-size: 0rem;
            transition:
                background-size 0.25s,
                height 0.25s,
                width 0.25s;
        }

        &:hover {
            &::before {
                display: inline-block;
                content: "";

                margin-block: auto;
                width: 1rem;
                height: 1rem;
                background: url("/assets/arrow.svg");
                background-size: 1rem;
                background-repeat: no-repeat;
                background-position: center;

                rotate: 225deg;
                padding-inline: 4px;
                padding-block: 0px;
            }
        }
    }
}

@media screen and (min-width: 960px) {
    & .pageBreaker{
        /*height: 240px;*/
    }

}
